.menuHeader {
    margin-top: 30px;

}

.sideMenu{
 --min-width: 30%;
}

ion-menu::part(backdrop) {
    background-color: var(--ion-color-customHardDark);
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;

    box-shadow: 4px 0px 16px var(--ion-color-customUltraLight);
}
