.top-BarBackgroundRP {
    --background: radial-gradient(circle, var(--ion-color-customDark) 0%, var(--ion-color-customMedium) 100%);
    --width: 100%;
}

.topBarRP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;
    font-family: var(--font-primary);
}

.left-contentRP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    /* Esto hace que ocupe el espacio central */
    margin-left: 10px;
}

.leaveButtonRP {
    width: 7%;
    margin-right: 10px;
}

.titleRP {
    font-size: 1rem;
}

.contentRP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    --background: radial-gradient(circle, var(--ion-color-customUltraLight) 0%, var(--ion-color-customLight) 85%, var(--ion-color-customMedium) 100%);
}

.form-containerRP {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.formCardRP {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    height: auto;
    background: var(--ion-color-customUltraLight);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-itemRP {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    gap: 100px;
    border-radius: 36px;
}

.form-labelRP {
    display: flex;
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
}

.custom-buttonRP {
    --background: var(--ion-color-customDark);
    --color: white;
    width: 95%;
    border-radius: 16px;
    font-weight: bold;
}

.custom-button2RP {
    width: 95%;
    --background: var(--ion-color-customMedium);
    --color: white;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.buttonTextRP {
    width: 80%;
}

.infoTextRP {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--ion-color-customHardDark);
    text-align: justify;
    width: 95%;
    padding-bottom: 20px;
    margin-top: 15px;
}

.sesImgRP{
   max-width: 400px;
   width: 50%;
}