.contentCitas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    --background: radial-gradient(circle, var(--ion-color-customUltraLight) 0%, var(--ion-color-customLight) 85%, var(--ion-color-customMedium) 100%);
}

.contentCentralCitas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 90%;
    justify-content: space-between;
    align-items: center;
    min-height: 90%;
}

.buttonContainerCitas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}

.buttonVolverCitas {
    width: 90%;
    max-width: 1000px;
    --background: var(--ion-color-customRed);
}

.buttonVolverCitas:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

.buttonTextCitas {
    font-weight: bold;
    width: 80%;
}

.spinnerContainerCitas {
    background: var(--ion-color-customUltraLight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 26px;
    width: 80%;
    gap: 10px;
    max-width: 1000px;
}

.textSpinnerCitas {
    font-size: 1.1rem;
    color: var(--ion-color-customDark);
    font-weight: bold;
    text-align: center;
}

.contentCitasCentralSpinner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.noCitasContainerGrid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.noCitasContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    max-height: 500px;
    max-width: 1000px;
    background: var(--ion-color-customUltraLight);
    border-radius: 36px;
}

.noCitasText {
    font-size: 1rem;
    color: var(--ion-color-customDark);
    font-weight: bold;
    padding: 30px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.imgNoData {
    width: 50%;
    max-width: 400px;
}

.CitasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
}

/* CITA CARD *************/
.cita-card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    min-height: 120px;

}

.cita-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cita-index-badge {
    display: flex;
    align-items: center;
    gap: 8px;
}

.index-number {
    font-weight: bold;
    font-size: 18px;
}

.cita-action-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cita-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.cita-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cita-fecha,
.cita-hora {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    color: var(--ion-color-customDark);
}

.ver-detalle-btn {
    font-size: 1rem;
    --background: var(--ion-color-customDark);
}

.verDetalleContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.badgeEstado {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

/* Estilos según estado */
.Pendiente {
    background-color: var(--ion-color-customYellow);
    color: black;
}

.Completada {
    background-color: var(--ion-color-lightGreen);
}

.Cancelada {
    background-color: var(--ion-color-customRed);
}

.Archivado {
    background-color: #d9d9d9;
    /* Gris claro */
    color: #595959;
    /* Gris oscuro para el texto */
}

.citaButtonArchive {
    --background: var(--ion-color-customYellow);
    color: black;
}

.cita-buttonElim {
    --background: var(--ion-color-customRed);

}

.cita-buttonElim:hover,
.citaButtonArchive:hover,
.ver-detalle-btn:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

.buttonContainerCitas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonTextCitasArchivados {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
}

.buttonCitasArchivadas {
    --background: var(--ion-color-customYellow);
    color: black;
    width: 90%;
    max-width: 1000px;
}